@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
    /* background: #111; */
}
.body{
    background-color: black;
   
}
html{
    scroll-behavior: smooth;
}
section{
    min-height: 100vh;
    /* padding:1rem; */
}

.navbar{
    display: flex;
justify-content: center;
align-items: center;
background-color: rgba(0, 0, 0, 0.8);
/* position: sticky; */
top: 0;
}

.navbar ul{
display: flex;
list-style: none;
margin: 20px 0px;
}

.navbar ul li{
/*     font-family: Arial, Helvetica, sans-serif; */
    font-size: 1.1rem;
    font-weight: bold;

}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;

}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    background: url('../img/main.jpg') no-repeat center center/cover;
    background-size: cover;
    background-position: center; 
    height: 100vh  ;
    justify-content: center;
    align-items: center;
    
    color: antiquewhite;
    z-index: -1;
    opacity: 0.9;
} 

   
    
   
.main{
    display: flex;
    flex-direction: column;
    border: 10px white;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 2%;
}
.headings{
/*     font-family: 'Times New Roman', Times, serif; */
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
	color: brown;
}
.btn{
    padding: 10px 35px;
    background-color:transparent;
    
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
background-color: white;
color: black;
box-shadow: 0 0 5px white 0 0 10px white 0 0 15px white;
}
p{
    font-style: normal;
/*     font-family: 'Times New Roman', Times, serif; */
    color: white;
    font-size: x-large;

}

#aboutme{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    background: url('../img/r34.jpg') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    /* height: 100vh  ; */
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    z-index: -1;
    opacity: 0.9;
    
} 
.about{
/*     font-family: 'Times New Roman', Times, serif; */
    display: flex;
    flex-direction: column;
    /* width: 700px; */
    /* height: 350px; */
    border: 1px solid white;
    margin: 20px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to bottom, rgb(31, 28, 28) 30% ,transparent);
    /* background-size: 100% 200%; */
    transition: all .8s;
    text-align: justify;
}
.about:hover{
    background-position: left bottom;
}
#gearhead{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    background: url('../img/head2.jpg') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    
    
    /* height: 100vh  ; */
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    z-index: -1;
    opacity: 0.7;
} 
.gear{
/*     font-family: 'Times New Roman', Times, serif; */
    display: flex;
    flex-direction: column;
    /* width: 700px; */
    /* height: 150px; */
/*     border: 1px solid white; */
    margin: 20px;
    align-items: center;
    text-align: justify;
   padding: 10px; 
/*     border-radius: 150px; */
/*     background: linear-gradient(to bottom, rgb(31, 28, 28) 30% ,grey); */
    background-size: 100% 200%;
/*     transition: all .8s; */
    text-align: top;
}
.gear:hover{
    background-position: left bottom;
}
.polo{
/*     font-family: 'Times New Roman', Times, serif; */
    display: flex;
    flex-direction: column;
    /* width: 700px; */
    /* height: 350px; */
    border: 1px solid white;
    margin: 20px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to bottom, rgb(31, 28, 28) 30% ,transparent);
    background-size: 100% 200%;
    transition: all .8s;
    text-align: justify;
}
.polo:hover{
    background-position: left bottom;
}
#projects{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    background: url('../img/pj.jpg') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    
    padding: 20px;
    
    /* height: 100vh  ; */
    justify-content: center;
    align-items: left;
    color: antiquewhite;
    z-index: -1;
    opacity: 0.9;
} 
.row{
    display: flex;   
    /* flex-wrap: wrap; */
    flex-direction: column;
}
.box{
    /* display: flex; */
    /* width: 350px; */
    /* height: 350px; */
    border: 1px solid white;
    margin: 50px 50px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to bottom, rgb(31, 28, 28) 50% ,grey);
    background-size: 250% 500%;
    transition: all .8s;
}
.box:hover{
    background-position: left bottom;

}
.jox{
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 350px; */
    /* height: 350px; */
    border: 1px solid white;
    margin: 50px 50px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to bottom, rgb(31, 28, 28) 50% ,grey);
    background-size: 250% 500%;
    transition: all .8s;
}
.jox:hover{
    background-position: left bottom;

}
/* #contact{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    text-emphasis-color: black;
 background: url('../img/contact.jpg') no-repeat center center/cover; 
    background-size: cover;
    background-blend-mode: color;
    background-position: center;
    text-decoration: underline;
    text-decoration-color: black;
    
    
    
    height: 100vh  ;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    z-index: -1;
    opacity: 0.7;
}  */



footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
    background: url('../img/gear.jpg') no-repeat center center/cover;
    background-size: cover;
    background-position: center;
    
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: black;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: black;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}

.social{
	display: flex;
}
.social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  #f9004d;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}




.button{
    padding: 10px 35px;
    background-color:transparent;
    
    border: 1px solid white;
    color: white;
    outline: 3rem;
    transition: .6s ease;
    position: absolute;
    right: 3%;
    white-space: normal;
}
.button:hover{
    cursor: pointer;
background-color: white;
color: black;
box-shadow: 0 0 5px white 0 0 10px white 0 0 15px white;
}
h3{
    /* position: absolute;
    top: 425%;
    right: 6%; */
/*     font-family: 'Times New Roman', Times, serif; */
    color: black

}
h2{
    /* position: absolute;
    top: 120%;
    left: 6%; */
/*     font-family: 'Times New Roman', Times, serif; */
    color: white

}
.bot{
    padding: 10px 35px;
    background-color:transparent;
    
    border: 1px solid white;
    color: white;
    outline: 3rem;
    transition: .6s ease;
    position: absolute;
    right: 3%;
    white-space: normal;
}
.bot:hover{
    cursor: pointer;
background-color: white;
color: black;
box-shadow: 0 0 5px white 0 0 10px white 0 0 15px white;
}
.tod{
    padding: 10px 35px;
    background-color:transparent;
    
    border: 1px solid white;
    color: white;
    outline: 1rem;
    transition: .6s ease;
    position: absolute;
    right: 3%;
    white-space: normal;
}
.tod:hover{
    cursor: pointer;
background-color: white;
color: black;
box-shadow: 0 0 5px white 0 0 10px white 0 0 15px white;
}
.car{
    padding: 10px 35px;
    background-color:transparent;
    
    border: 1px solid white;
    color: white;
    outline: 3rem;
    transition: .6s ease;
    position: absolute;
    right: 3%;
    white-space: normal;
}
.car:hover{
    cursor: pointer;
background-color: white;
color: black;
box-shadow: 0 0 5px white 0 0 10px white 0 0 15px white;
}
.cont{
    display: flex;
justify-content: space-between;
/* justify-content: center; */
align-items: center;
background-color: rgba(0, 0, 0, 0.8);
position: sticky;
top: 0;
/* width: 1200px; */

}

.cont ul{
display: flex;
list-style: none;
margin: 30px 0px;
}

.cont ul li{
/*     font-family: Arial, Helvetica, sans-serif; */
    font-size: 1.47rem;
    font-weight: bold;
margin: 100px 0;
}

.cont ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;

}
.cont ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}





/* media queries*/
@media (max-width:1399px){
    html{
        font-size: 75%;
    }
    /* body{
        padding: 1rem 2rem;
    }
   #home{
       background-image: none;
       background:#111;
   } */
}
@media (max-width: 595px){
    html{
        font-size: 50%;
    }
}
