 /* navbar */
 .navbar ul{
     flex-wrap: wrap;
     justify-content: center;
 }

 /* headings */

 .heading{
     font-size: 2.5rem;
 }


#aboutme h2{
    text-align: center;
    padding: 10px;
}
/* for last box */
